conda @ file:///Users/runner/miniforge3/conda-bld/conda_1685035463027/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1685101166527/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1677336799617/work/dist
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1679336661730/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1680185563420/work
ipython-genutils==0.2.0
ipywidgets==8.1.5
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1632759296524/work
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1673559782596/work
jupyter-lsp==2.2.5
jupyter-ydoc @ file:///home/conda/feedstock_root/build_artifacts/jupyter_ydoc_1679325289144/work/dist
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1679365123476/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1678994370610/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1679073341944/work
jupyter_server_fileid @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_fileid_1681071667289/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1673491454549/work
jupyter_server_ydoc @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_ydoc_1678043727957/work
jupyterlab==4.3.5
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1674078877526/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mda-xdrlib==0.2.0
mdahole2==0.5.0
MDAnalysis==2.8.0
mdtraj @ file:///Users/runner/miniforge3/conda-bld/mdtraj_1667764177299/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1680699273776/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1680676954923/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1681137024412/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1679336765223/work
nglview==3.1.4
notebook==7.3.2
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1667478401171/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1668919179223/work
pandas==1.5.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
pypandoc @ file:///home/conda/feedstock_root/build_artifacts/pypandoc_1678107941902/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772688941/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1666819841178/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1685519262474/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412930997/work
scipy==1.9.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
